.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-image___preview {
  height: 260px;
  width: 165px;
}
.fighter-preview___property {
  font-size: 25px;
  font-weight: bolder;
  font-family: Ubuntu, Verdana, Cantarell, monospace, Roboto; 
  color: yellow;
}